@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Pease enter the url to shorten</a>.</p>

</div>
@using(Html.BeginForm("Index","Home",FormMethod.Post))
{
    <label>Enter Url</label>
    @Html.TextBox("UrlShortner")
    <input type="submit" value="Submit"/>
}
@if (ViewBag.flagvalue)
{
    <a>Value of URL </a> @ViewBag.Name 
    <p>
        Short Url @ViewBag.ShortUrl
    </p>
}